<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{ seo }}">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <main>
        <article>

            <header>
                <h1>When asking yourself about something to do near me in {{ city }} with a group of friends or family, consider</h1>
                <h1>{{ placeName }}</h1>
            </header>

            <section id="image-gallery">
                {% for image in images %}
                    <div class="my-slides">
                        <div class="numbertext">{{ loop.index }} / {{ loop.length }}</div>
                        <img class="fade" src="./assets/{{ slug }}/{{ image }}">
                    </div>
                {% endfor %}
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </section>
            <script src="./js/slideshow.js"></script>

            <section id="summary">
                <h2>Why {{ placeName }} is a fun option when searching for things to do near me with firends and family</h3>
                <p>{{ generalSummary }}</p>
            </section>

            <section id="ratings">
                <h2>Here's what people think of {{ placeName }}</h3>
                <p>As of recent, {{ placeName }} holds a {{ rating }}-star rating based on {{ reviewsCount }} reviews.</ratings-widget>
                <p>{{ reviewsSummary }}</p>
                <h3>Highlights from reviewers</h3>
                <div id="sample-reviews">
                {% for item in reviews %}
                    <review-card>
                        <img src="{{ item.authorPhotoURL }}" alt="profile photo of user">
                        <h4><a href="{{ item.authorProfileURL }}">{{ item.authorName }}</a></h4>
                        <time datetime="{{ item.timePublished }}"></time>
                        <stars-widget>{{ item.rating }}</stars-widget>
                        <p>{{ item.review }}</p>
                    </review-card>
                {% endfor %}
                </div>
            </section>

            <section id="contact">
                <h2>How to reach {{ placeName }}</h3>
                <address>
                    <p>{{ formattedAddress }}</p>
                    <a href="https://{{ locationWebsite }}">{{ locationWebsite }}</a>
                </address>
            </section>

            <section id="activities">
                <h2>Why rally at {{ placeName }} with your friends</h3>
                {{ detailedInformation }}
            </section>

            <section id="source">
                <h2>Don't just take our word for it. Check out these other websites for more info on the {{ placeName }}</h3>
                <ul>
                {% for source in sources %}
                    <li><a href="{{ source }}">{{ source }}</a></li>
                {% endfor %}
                </ul>
            </section>

        </article>
    </main>
</body>
</html>
