<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="We have tons of articles on businesses around the country. Take a look to find amazing meetup spots nearby!">
    <title>Directory of States</title>
</head>
<body>
    <main>
        <article>

            <header>
                <h1>To find great places near you, pick the city you live in.</h1>
            </header>

            <section id="state-directory">
            {% for state, cities in states.items() %}
                <div id="{{ state }}"><h2>{{ state }}</h2>
                {% for city in cities %}
                    <a href="./states/{{ city[1] }}">{{ city[0] }}</a>
                {% endfor %}
                </div>
            {% endfor %}
            </section>
    </main>
</body>
</html>
