<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9EJTZJ2BWB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-9EJTZJ2BWB');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{ seo }}">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="icon" type="image/x-icon" href="/Assets/Favicon.png">
</head>
<body>
    <header>
        <div class="header">
            <a href="/" class="logo">
              <img src="/Assets/logo.png" alt="Shield Icon">
            </a>
            <a href="/About-Rallyvite.html" class="whats-special">What's Special about Rallyvite</a>
            <a href="/Waitlist.html" class="profile-button">My Profile</a>
        </div>
    </header>

    <main>
        <article>

            <header>
                <h1>When asking yourself about something to do near me in {{ city }} with a group of friends or family, consider</h1>
                <h1 class="place-name">{{ placeName }}</h1>
            </header>

            <section id="image-gallery">
                {% for image in images %}
                    <div class="my-slides">
                        <div class="numbertext">{{ loop.index }} / {{ loop.length }}</div>
                        <img class="fade" src="{{ image }}">
                    </div>
                {% endfor %}
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </section>
            <script src="../js/slideshow.js"></script>

            <section id="summary">
                <h2>Why {{ placeName }} is a fun option when searching for things to do near me with friends and family</h3>
                <p>{{ generalSummary }}</p>
            </section>

            <section id="ratings">
                <h2>Here's what people think of {{ placeName }}</h2>
                <p>As of recent, {{ placeName }} holds a {{ rating }}-star rating based on {{ reviewsCount }} reviews.</ratings-widget>
                <p>{{ reviewsSummary }}</p>
                <h3>Highlights from reviewers <span>(Most Relevant)</span></h3>
                <div id="sample-reviews">
                {% for item in reviews %}
                    <review-card>
                        <img src="{{ item.AuthorPhotoURL }}" alt="profile photo of user">
                        <h4><a href="{{ item.AuthorProfileURL }}">{{ item.AuthorName }}</a></h4>
                        <time datetime="{{ item.TimePublished }}"></time>
                        <stars-widget>
                        {% for star in item.Stars %}
                            <span style="color: {{ star }};">&#9733;</span>
                        {% endfor %}
                        </stars-widget>
                        <p>{{ item.Review }}</p>
                    </review-card>
                {% endfor %}
                </div>
            </section>

            <section id="contact">
                <h2>How to reach {{ placeName }}</h2>
                <address>
                    <p>{{ formattedAddress }}</p>
                    <p>Website: <a href="{{ locationWebsite }}">{{ locationWebsite }}</a></p>
                </address>
                <iframe
                    frameborder="0" style="border:0"
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA1T7aadTWQceTPGgtSVXHClUml-8hbTDc&q=place_id:{{ placeID }}"
                    allowfullscreen>
                </iframe>
            </section>

            <section id="activities">{{ detailedInformation }}</section>

            <section id="source">
                <h2>Don't just take our word for it. Check out these other websites for more info on the {{ placeName }}</h2>
                <ul>
                {% for source in sources %}
                    <li><a href="{{ source }}">{{ source }}</a></li>
                {% endfor %}
                </ul>
            </section>

        </article>
    </main>

    <footer>
        <a href="mailto:hello@rallyvite.com" class="email-link" style="
            display: inline-flex;
            align-items: center;
            gap: 8px;
            text-decoration: none;
        ">
            <img src="/Assets/email.png" alt="Email Icon" style="width: 20px; height: 20px">
            hello@rallyvite.com
        </a>
        <br>
        <a href="/tos.html">Terms of Service</a> |
        <a href="/privacy.html">Privacy Policy</a>
    </footer>
</body>
</html>
