:root {
    font-family: 'Poppins', sans-serif;
    --column-width: 960px;
    --main-margin: 1em;
}

body {
    margin: var(--main-margin);
    background: #ffffff;
    color: #333;
    line-height: 1.4;
}

.place-name {
    text-align: center;
    font-size:48px;
    font-weight: 700;
    color: #0083FF;
}

h1, h2, h3 {
    color: #0083FF;
    font-weight: 400;
}

h1 {
    font-size: 1.5em;
    border-bottom: 2px solid #eee;
    padding-bottom: 0.3em;
    margin-bottom: 1em;
    color: #000000;
}

h2 {
    margin-top: 2em;
    font-size: 2em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.3em;
}

h3 {
    margin-top: 1.5em;
    font-size: 1.5em;
    color: #333;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.1em;
}

ul {
    padding-left: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

li {
    margin-bottom: 0.7em;
    font-size: 1.05em;
}

section {
    margin-bottom: 3em;
}

a {
    color: #0083FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.address, .website {
    background: #0083FF;
    padding: 1em;
    border-radius: 8px;
    margin-top: 1.5em;
    font-size: 1em;
}

.review {
    background: #0083FF;
    padding: 1.2em;
    margin: 1.5em 0;
    border-left: 5px solid #999;
    border-radius: 8px;
}

article {
    max-width: var(--column-width);
    margin: auto;
}

#image-gallery {
    position: relative;
}

/* Hide the images by default */
.my-slides {
    display: none;
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media (max-width: 500px) {
    .my-slides {
        height: 200px;
    }
}

.my-slides img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures aspect ratio is maintained */
}
  
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: auto;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.numbertext {
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom-right-radius: 3px;
    z-index: 10;
}

.active {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#source ul {
    overflow: hidden;
}

review-card img {
    height: 40px;
    width: 40px;
}

review-card h4 {
    display: inline;
    vertical-align: top;
    font-weight: 400;
    margin: 0 10px;
}

review-card a {
    text-decoration: none;
    color: #0083FF;
}

review-card a:hover {
    text-decoration: underline;
}

review-card p {
    margin: 0.5em 0 1.5em;
}

stars-widget {
    display: block;
    font-size: 1.2em;
}

#contact iframe {
    width: 100%;
    aspect-ratio: 1/1;
}

#ratings h3 span {
    color: grey;
    font-weight: 400;
}